<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510343513665-4527e381af08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2894&q=80);">
  <div class="container text-center">
    <h1>VANIN</h1>
    <p>brings unique <strong>campervans</strong> to unique people.</p>
  <!--   <a class="btn btn-flat" href="">Book now</a> -->
  <button type="button" class="btn btn-light" href="/campervans">Book now</button>
  </div>
</div>
