<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/campervans"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCmXjoP6K3ha8q7f5jTpvTi_oBX806t6ENh_5r8H_ouVZQdRO0" /></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/bookings"> Your Bookings</a>
      </li>
      <li class="nav-item">
          <%= link_to "List your Van", new_campervan_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
