<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
