.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 13px;
  width: 70%;
}

.main-container {
  display: flex;
}

.card {
  // background-size: cover;
  background-position: center;
  // height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-height: 430px;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // font-size: 22px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.show-card{
    max-height: none

}


#card-marker {
  img {
    width: 100%;
  }
}
