.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 13px;

 
  font-size: 15px;
  font-family: "Raleway";
  color: #363434;

  width: 70%;

}

.main-container {
  display: flex;
}

.container {
  padding-top: 40px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 50px;
}



.card {
  // background-size: cover;
  background-position: center;
  // height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-height: 430px;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // font-size: 22px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
}


.card h3 {
  text-align: center;
  font-size: 30px;
}

.card a {
  // background-color: black;
  color: black;
  text-align: center;
  font-size: 30px;
}
.card :hover a {
  color: gray;
  text-decoration: none;
}


.show-card{
    max-height: none

}


#card-marker {
  // border-style: solid;
  // border-width: 1px;
  img {
    width: 100%;
    border-radius: 5px;
  }
}


.card-marker-content {
  margin-top: 10px;
  margin-left: 10px;
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-marker-price {
  margin-top: 3px;
  margin-right: 10px;
 p {
  font-size: 15px;
 }
}

