.cards {
<<<<<<< HEAD
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}


=======
  text-align: center;
  font: arial;
  font-size: 15px;
}
>>>>>>> f1e498bef31de8141b039228e429ab759ae22b1e
