.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
}

.index-map {
  height: 100vh;
  position: sticky !important;
  top: 0;
}

// .show-map {
//   height: 600px !important
// }

#map {
  width: 30%;
  border-radius: 10px;
  margin-right: 10px;
}
